.header {
  background-color: #fff;
}

.container {
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--desktop-width);
  padding: 0 var(--spacing);
}

.brand {
  align-items: center;
  color: var(--martinique-900);
  display: flex;
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  gap: var(--spacing);
  text-decoration: none;
}
.brand:hover {
  color: var(--martinique-900);
  text-decoration: underline;
}

.nav {
  display: flex;
  gap: calc(2 * var(--spacing));
}
.nav a {
  color: var(--martinique-900);
  text-decoration: none;
}
.nav a:hover {
  color: var(--martinique-900);
  text-decoration: underline;
}
