.footer {
  --text-color: #ffffff40;

  align-items: center;
  border-top: 1px solid var(--text-color);
  color: var(--text-color);
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 1.5rem 0;
  width: 100%;
}
