.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1060px;
  min-height: 100vh;
}

  .main {
    display: flex;
    flex: 1;
    gap: 4rem;
    padding: 4rem;
  }
