.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1060px;
  min-height: 100vh;
}

  .main {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: space-between;
    padding: 4rem 0;
  }

  .footer {
    --text-color: #ffffff40;

    align-items: center;
    border-top: 1px solid var(--text-color);
    color: var(--text-color);
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 1.5rem 0;
    width: 100%;
  }
