.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1060px;
  min-height: 100vh;
}

  .main {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: space-between;
    padding: 4rem 0;
  }
