@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/fonts/alata-v2-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/alata-v2-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #061B23;
  color: #ffffffea;
  font-size: 1.2rem;
  line-height: 1.5;
}

a {
  color: #a77ff0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.title {
  font-family: Alata, Helvetica, sans-serif;
  font-size: 3.75rem;
  line-height: 1.15;
  margin: 1rem 0;
}

