.title {
  font-family: Alata, Helvetica, sans-serif;
  font-size: 3.75rem;
  line-height: 1.15;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 35rem;
}

.cta {
  background: #a77ff0;
  border-radius: 35px;
  border: none;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.75rem 3rem;
}
