.claim,
.claimSecondary {
  margin: 0;
  text-align: center;
}

.claim {
  margin-bottom: var(--spacing);
}
.claimSecondary {
  color: var(--cranberry-500);
  margin-bottom: calc(4 * var(--spacing));
}
